@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	@model Offer
	Layout = "_AdsLayout";
}
<div class="row">
	<div class="col p-1">
		<div class="row">
			<div class="col">
				<h2>@Model.Title</h2>
			</div>
			<div class="col">
				<h3>@Model.Price.ToString("C", CultureInfo.CurrentCulture)</h3>
			</div>
		</div>


		<div class="row">
			@Model.Description
		</div>
	</div>
	<div class="col p-1">
		<h3>Images</h3>
		<div class="row">
		@foreach (var image in Model.Images)
		{
			<div class="col">
			<img src="~/@image.Path" alt="Image-@image.Id" class="img-thumbnail rounded">
			</div>
		}
		</div>
	
	</div>
</div>


