@{
    Layout = "_AdsLayout";
}

<form asp-controller="Offer" asp-action="SubmitUser">
    <div class="row mg-1">
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div class="row mg-1">
        <input type="text" name="password" placeholder="Password"/>
    </div>
    <div class="row">
            <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
